* {
  box-sizing: border-box;
}

.Positive {
  color: #24a133;
  width: 32.44px;
  height: 16.5px;
}
.Negative {
  color: #d50032;
  width: 32.44px;
  height: 16.5px;
}

.rundiff {
  width: 48px;
  height: 48px;
  color: #333333;
  font-size: 14.4px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 1px 8px;
}

.teamrundiff {
  width: 32.44px;
  height: 16.5px;
}

.table {
  width: 990px;
}

.division-row {
  width: 990px;
  height: 32px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.division-name {
  width: 170px;
  height: 32px;
  color: #ffffff;
  font-size: 12px;
  background-color: #041e42;
  padding: 0 16px;
}

span {
  width: 136.5px;
  height: 18px;
}

th span {
  display: block;
}

.division-title {
  height: 18px;
  display: inline-block;
}

.division-name span {
  text-align: left;
}

.wins {
  width: 48px;
  height: 32px;
  background-color: #041e42;
  padding: 1px 8px 1px 16px;
  color: #ffffff;
  font-size: 12px;
}

.division-span {
  width: 22.5px;
  height: 18px;
}

.teamw {
  width: 10.59px;
  height: 15.5px;
  border-bottom: 1px dotted;
}

.losses {
  width: 48px;
  height: 32px;
  color: #ffffff;
  background-color: #041e42;
  padding: 1px 8px;
  font-size: 12px;
}

.teaml {
  width: 6.12px;
  height: 15.5px;
  border-bottom: 1px dotted;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.pct {
  width: 48px;
  height: 32px;
  font-size: 12px;
  background-color: #041e42;
  padding: 1px 8px;
  color: #ffffff;
}

.percentage {
  width: 21.99px;
  height: 15.5px;
}

.gb {
  width: 48px;
  height: 32px;
  color: #ffffff;
  background-color: #041e42;
  font-size: 12px;
  padding: 1px 8px;
}

.tgb {
  width: 16.1px;
  height: 15.5px;
  display: inline;
  border-bottom: 1px dotted;
}

.wcgb {
  width: 48px;
  height: 32px;
  font-size: 12px;
  color: #ffffff;
  background-color: #041e42;
  padding: 1px 16px 1px 8px;
}

.twcgb {
  width: 34.57px;
  height: 15.5px;
  display: inline;
  border-bottom: 1px dotted;
}

.last10 {
  width: 48px;
  height: 32px;
  font-size: 12px;
  background-color: #041e42;
  color: #ffffff;
  padding: 1px 8px;
}

.l10 {
  width: 17.53px;
  height: 15.5px;
  display: inline;
  border-bottom: 1px dotted;
}

.streak {
  width: 48px;
  height: 32px;
  font-size: 12px;
  padding: 1px 16px 1px 8px;
  background-color: #041e42;
  color: #ffffff;
}

.tstreak {
  width: 24px;
  height: 18px;
}

.teamStreak {
  width: 28.3px;
  height: 15.5px;
  display: inline;
  border-bottom: 1px dotted;
}

.rs {
  width: 48px;
  height: 32px;
  color: #ffffff;
  background-color: #041e42;
  font-size: 12px;
  padding: 1px 8px;
}

.trs {
  width: 14.33px;
  height: 15.5px;
  display: inline;
  border-bottom: 1px dotted;
}

.ra {
  width: 48px;
  height: 32px;
  color: #ffffff;
  background-color: #041e42;
  font-size: 12px;
  padding: 1px 8px;
}

.tra {
  width: 15.19px;
  height: 15.5px;
  display: inline;
  border-bottom: 1px dotted;
}

.diff {
  width: 48px;
  height: 32px;
  color: #ffffff;
  background-color: #041e42;
  padding: 1px 8px;
  font-size: 12px;
}

.runs {
  width: 32px;
  height: 18px;
}

.rd {
  width: 24.46px;
  height: 15.5px;
  display: inline;
  border-bottom: 1px dotted;
}

.home {
  width: 60px;
  height: 32px;
  padding: 1px 8px;
  color: #ffffff;
  background-color: #041e42;
  font-size: 12px;
}

.hr {
  width: 34.25px;
  height: 15.5px;
  display: inline;
  border-bottom: 1px dotted;
}

.away {
  width: 60px;
  height: 32px;
  padding: 1px 8px;
  color: #ffffff;
  background-color: #041e42;
  font-size: 12px;
}

.ar {
  width: 32.02px;
  height: 15.5px;
  display: inline;
  border-bottom: 1px dotted;
}

.span {
  width: 44px;
  height: 18px;
}
