* {
  box-sizing: border-box;
}

.Positive {
  color: #24a133;
}
.Negative {
  color: #d50032;
}

.table {
  width: 990px;
}

.division-row {
  width: 990px;
  height: 32px;
  border-bottom: 1px solid #d2d2d2;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.division-name {
  width: 170px;
  height: 32px;
  color: #ffffff;
  font-size: 12px;
  background-color: #041e42;
  padding: 0 16px;
}

span {
  width: 136.5px;
  height: 18px;
}

th span {
  display: block;
}

.division-title {
  height: 18px;
  display: inline-block;
}

.division-name span {
  text-align: left;
}

.wins {
  width: 48px;
  height: 32px;
  background-color: #041e42;
  padding: 1px 8px 1px 16px;
  color: #ffffff;
  font-size: 12px;
}

.division-span {
  width: 22.5px;
  height: 18px;
}

.teamw {
  width: 10.59px;
  height: 15.5px;
}

.losses {
  width: 48px;
  height: 32px;
  color: #ffffff;
  background-color: #041e42;
  padding: 1px 8px;
  font-size: 12px;
}

.teamsl {
  width: 32px;
  height: 18px;
}

.teaml {
  width: 6.12px;
  height: 15.5px;
}

.pct {
  width: 48px;
  height: 32px;
  font-size: 12px;
  background-color: #041e42;
  padding: 1px 8px;
  color: #ffffff;
}

.teamper {
  width: 32px;
  height: 18px;
}

.percentage {
  width: 21.99px;
  height: 15.5px;
}

.gb {
  width: 48px;
  height: 32px;
  color: #ffffff;
  background-color: #041e42;
  font-size: 12px;
  padding: 1px 8px;
}

.tgb {
  width: 16.1px;
  height: 15.5px;
}

.wcgb {
  width: 48px;
  height: 32px;
  font-size: 12px;
  color: #ffffff;
  background-color: #041e42;
  padding: 1px 16px 1px 8px;
}

.wgb {
  width: 24px;
  height: 18px;
}

.twcgb {
  width: 34.57px;
  height: 15.5px;
}

.last10 {
  width: 48px;
  height: 32px;
  font-size: 12px;
  background-color: #041e42;
  color: #ffffff;
  padding: 1px 8px;
}

.las10 {
  width: 32px;
  height: 18px;
}

.l10 {
  width: 17.53px;
  height: 15.5px;
}
