.togglebtn {
  margin-top: 10px;
  position: absolute;
  border-radius: 10%;
  background-color: lightblue;
  color: blue;
  box-shadow: 0 4px 6px #888888;
}

.league {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

select {
  text-align: center;
}

.insidecard {
  text-align: center;
  width: "230px";
  margin-left: "12px";
}

h2 a {
  text-decoration: none;
  color: black;
}

h5.venue {
  margin-top: 20px;
  margin-bottom: 10px;
}

label {
  margin-top: 10px;
  position: fixed;
  justify-content: center;
}

img {
  height: 250px;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
