.togglebtn {
  margin-top: 10px;
  position: absolute;
  border-radius: 10%;
  background-color: lightblue;
  color: blue;
  box-shadow: 0 4px 6px #888888;
}

.league {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
