.togglebtn {
  /* display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  height: 40px; */
  margin-top: 10px;
  position: absolute;
  /* top: 50%; */
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 10%;
  background-color: lightblue;
  color: blue;
  /* box-shadow: 3px 2px #888888; */
  box-shadow: 0 4px 6px #888888;
}

.league {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
