/* * {
  box-sizing: border-box;
}

.player-links {
  width: 1560px;
  height: 991px;
  margin-bottom: 1rem;
}

.player-list {
  width: 1560px;
  height: 991px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} */

.item {
  width: 991px;
  height: 24px;
}

li {
  display: list-item;
}

.player-link {
  color: #333;
  text-decoration: none;
  width: 84.66px;
  height: 19.5px;
  font-size: 16px;
  cursor: pointer;
}

a {
  background-color: transparent;
  text-decoration: none;
}
